.body__header {
  display: flex;
}

.body__searchContainer {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 32px;
  color: gray;
  background-color: #eef3f8;
  width: 95%;
}

.body__searchContainer h3 {
  flex: 1;
  margin-right: 30px;
}

.body__searchContainer input {
  flex: 1;
  border: 0.5px solid lightgrey;
  outline: none;
  background: none;
  height: 10px !important;
  padding: 10px;
}

.body__searchContainer button {
  flex: 1;
  margin-left: 10px;
}

.list__view {
  margin: 20px;
}

.table {
  padding: 20px;
}

.plot {
  padding: 20px;
}
